* {
    margin: 0;
    padding: 0;
}

.m-app {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.m-main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.m-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.m-calendar {
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
}

.m-calendar th, .m-calendar td {
    border-radius: 5px;
    text-align: center;
}

.m-calendar th {
    width: 2vw;
}

.m-period-start-time {
    font-size: 8px;
    color: #a7a7a7;
}

.m-period {
    background: #d5d5d5;
    border-radius: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

.m-period-finish-time {
    font-size: 8px;
    color: #a7a7a7;
}

.m-course-list td {
    position: relative;

    padding: 20px 10px 0 10px;
    height: 5vw;
    width: 20vw;
    word-break: break-all;
}

.m-course-list {
}

.m-course {
    background: #b1d3ff96;
}

.m-free-course {
    background: rgba(206, 225, 255, 0.36);
}

.m-course-name {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 4rem;
}


.m-course-room {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    background: #2424f1;
    border-radius: 5px;

    color: white;
}

.m-week-name td {
    background: #e8e8e8;
}

.m-sidebar {
    width: 30%;
    box-sizing: border-box;
}

.m-news-bind-list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.m-news-bind {
    position: relative;
    border: 1px solid #000;
    width: 100%;
}

.m-news-course-name {
    font-weight: bold;
}
.m-last-news-title {
    color: #a8a8a8;
}
.m-news-unread-count {
    position: absolute;
    top: 10%;
    right: -10px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%,0%);

    background: #ec4646;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
}

.m-news-list {
    border: solid red 1px;
    height: 100%;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: none;
}

.m-news {
    margin: 10px;
    text-align: center;
    background: rgba(222, 222, 222, 0.57);
    border-radius: 10px;
}

.m-news-list::-webkit-scrollbar {
    display:none;
}
.m-news-title{
    font-weight: bold;
}